body{
    margin: 0;
    font-family: 'Noto Serif TC', serif;
    font-size: 1.5em;
    text-align: center;
      background-color: #A1EAFB;
}
h1{
    margin: 0 auto;
    font-size: 3em;
    font-family: Sacramento;
}
h3{
  text-align: center;
  font-family: 'Handlee', cursive;
}

.home-page{
    background-color: #A1EAFB;
}

.intro{
    margin-top: 150px;
}
.bottom-cloud{
    position: absolute;
    top: 90px;
    right: 450px;

}
.top-cloud{
    position: absolute;
    top: 300px;
    left: 450px;
}

.navigation{
  height: 45px;
  background-color: lightgreen;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  text-align: right;
}

span{
  color: brown;
  width: 3%;
  margin: 0px 10px 0 0;
  width: 25%;
}
.box{
  width: 20%;
  position: absolute;
  right: 0;
  padding: 0;
}
a{
  text-decoration: none;
  font-family: 'Handlee', cursive;
  color: brown;
  margin: auto 2px auto 0 ;
}
